/**
 Main CSS, common for desktop or mobile, all interfaces

 CSS basics:
 Element selection:
 (): HTML tag. ex: div{}
 (#): HTML tag's ID (only one ID per tag)
 (.): HTML tag's class (multiple classes per tag is OK)
 em: size against the current/parent element
 rem: size against the root element (html, or else browser setting)
 ->(Uses rem as much as possible)

 CSS properties browser prefixes:
 https://autoprefixer.github.io/

 CSS color gradient:
 https://cssgradient.io/

 Padding shorthand:
 top | right | bottom | left

 */

/*********************************************/
/*            FONTS 		                 */
/*********************************************/

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*********************************************/
/*            COLORS                         */
/*********************************************/

/* CSS parameters */
/* values can be call with "var(--varName)" */
/* needs double dashes */
/* How to set / get from JS: https://stackoverflow.com/questions/41370741/how-do-i-edit-a-css-variable-using-js */
:root {
    /* Attempt to dark interface like gitkraken */
    --bg-color-01: #1c1e23;
    --bg-color-02: #1b2126;
    --bg-color-03: #1F2D39;
    --bg-color-04: #233240;
    --bg-color-input: #19232b;
    --border-color-input: #17323C;
    --text-color-default: rgba(227,251,255,.75);

    --color-projects: #ff881d;
    --color-projects-02: #FFCB27;
    --color-nodes: #198bff;
    --color-nodes-02: #369BFF;
    --color-todos: #286817;
    --color-todos-02: #2CA448;
    --bg-color-outter: black;
    --bg-color-inner: #141422;
    --bg-color-cell: #262633;

    --radius-input: 0.4rem;
    --radius-column: 20px;
}

.bgColorProjects {
    background-color: var(--bg-color-04);
    border: 1px solid var(--color-projects);
}

.bgColorNodes {
    background-color: var(--bg-color-04);
    border: 1px solid var(--color-nodes);
}

.bgColorTodos {
    background-color: var(--bg-color-04);
    border: 1px solid var(--color-todos);
}

/*********************************************/
/*            COMMONS                        */
/*********************************************/

body {
    background-color: var(--bg-color-01);
    color: var(--text-color-default);
}
input {
    background-color: var(--bg-color-input);
    border-color: var(--border-color-input);
    color: var(--text-color-default);
    padding: 0.4rem;
    border-radius: var(--radius-input);
}
textarea {
    background-color: var(--bg-color-input);
    border-color: var(--border-color-input);
    color: var(--text-color-default);
    padding: 0.5rem;
    border-radius: var(--radius-input);
}

.test {
    border: 1px solid red;
    background: rgb(2,0,36);
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.inline {
    display: inline !important;
}
.block {
    display: block !important;
}
.inline-block {
    display: inline-block !important;
}
.none {
    display: none !important;
}
.zero {
    margin: 0 !important;
    padding: 0 !important;
}

.oneLine {
    white-space: nowrap;
    overflow-x: auto;
}

.singleContent {
    /*align-content: center !important*/
    text-align: center;
    /* top | right | bottom | left */
    margin: 1rem;
}

.fullWidthTextArea {
    width: 100%;
    height: auto;
}

.rowItem {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
}

/*********************************************/
/*            SVG RELATED                    */
/*********************************************/

.scaling-svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    /* override this inline for aspect ratio other than square */
}
.scaling-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.icon {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}

/********************/

.green {
    color: #1fa516;
}

.orange {
    color: #a47718;
}

.red {
    color: #af0808;
}

.biggerIcon {
    height: 2.2rem;
    width: 2.2rem;
}

/*********************************************/
/*            THE MESSAGE                    */
/*********************************************/

.message {
    display: none;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    border-radius: var(--radius-input);
    text-align: center;
}
.message.info {
    border: #1d643b solid 1px;
}
.message.warning {
    border: darkorange solid 1px;
}
.message.error {
    border: red solid 1px;
}