/**
Main CSS for desktop interface

CSS basics:
Element selection:
(): HTML tag. ex: div{}
(#): HTML tag's ID (only one ID per tag)
(.): HTML tag's class (multiple classes per tag is OK)
em: size against the current/parent element
rem: size against the root element (html, or else browser setting)
->(Uses rem as much as possible)

CSS properties browser prefixes:
https://autoprefixer.github.io/

CSS color gradient:
https://cssgradient.io/

Padding shorthand:
top | right | bottom | left

*/

/*********************************************/
/*            DESKTOP COMMONS                */
/*********************************************/
.commonSpacing {
    margin: 0.2rem;
    padding: 1.1rem;
}

.wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flexColumn {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap; /* one column cannot spread on multiple columns */
    justify-content: flex-start;

    margin: 0.2rem;
    padding: 1.1rem;

    border-radius: var(--radius-column);
}

.flexRow {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; /* one row can spread on multiple lines/rows */
    justify-content: flex-start;

    margin: 0.2rem;
    padding: 0.3rem;

    border-radius: var(--radius-column);
}

.flexColumnsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.listRow {
    display: table-cell;
    margin: 0;
    /* top | right | bottom | left */
    padding: 0.5rem 0;
}

.listRow.header {
    padding: 0.0rem 0.2rem 1rem 0.1rem;
}

/*********************************************/
/*            HEADER                         */
/*********************************************/

.headerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* one row can spread on multiple lines/rows */
    justify-content: center;
    margin: 0.2rem;
    padding: 0.6rem;
    background-color: var(--bg-color-03);
}

.headerTab {
    padding: 1rem;
    cursor: pointer;
    font-weight: 400;
}

/*********************************************/
/*        FOR (too) SIMPLE FLEX TABLE        */
/*********************************************/

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.cell {
    padding: 1.5rem;
}