
.deleteNodeButton {
    display: none;
}

.deleteNodeConfirmButton {
    display: none;
}

.nodable {
    display: none;
}


/* Node List */

.nodeRow {
    /* top | right | bottom | left */
    padding: 0.6rem 1rem 0.6rem 0.1rem;
}

.nodeTitle {
    cursor: pointer;
}

/* Node Header */

.nodeSearchButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.nodeAddButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.nodeHeader {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    font-size: 1rem;
    /* top | right | bottom | left */
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.nodeSearch {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    width: 10rem;
}

.nodeSearchClose {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}