
.deleteProjectButton {
    display: none;
}

.deleteProjectConfirmButton {
    display: none;
}

.nodable {
    display: none;
}


/* Project List */

.projectRow {
    /* top | right | bottom | left */
    padding: 0.6rem 1rem 0.6rem 0.1rem;
}

.projectTitle {
    cursor: pointer;
}

/* Project Header */

.projectSearchButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.projectAddButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.projectHeader {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    font-size: 1rem;
    /* top | right | bottom | left */
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.projectSearch {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    width: 10rem;
}

.projectSearchClose {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}