.todosBlock {
    width: 800px;
    max-width: 800px;
}
.todosTable {
    width: 100%;
    border-collapse: collapse;
}

.todosTable tr {
    border-style: solid;
    border-width: 1px;
    border-color: #1b4b72;
}

.todosTable td {
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

.smallestCell {
    width: 1%;
    white-space: nowrap; /* garde tout sur une ligne (pas de retour a la ligne) */
}

.todoContent {
    border: none;
}

/* Todos List */

.todoRow {
    /* top | right | bottom | left */
    padding: 0.6rem 1rem 0.6rem 0.1rem;
}

.todoTitle {
    cursor: pointer;
}

/* Todo Header */

.todoSearchButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.todoAddButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.todoHeader {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    font-size: 1rem;
    /* top | right | bottom | left */
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.todoSearch {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    width: 10rem;
}

.todoSearchClose {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}