/* TODO: sizes in rem instead of px */

.flexContainer {
    /* makes a nice grid */
    display:flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.websiteElement {
    flex-grow: 1; /* makes a nice grid */
    position:relative; /* needed to position child overlay */
    z-index: 1;
    /* Fixed size */
    height: 100px;
    width: 200px;
    min-height: 100px;
    min-width: 200px;
    max-height: 100px;
    max-width: 200px;
    border-radius: 13px;
    /* */
    background-color: #555;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    /* */
    cursor: pointer;
}
.websiteElement.add {
    width: 98px;
    max-width: 98px;
    min-width: 98px;

}

.websiteRemove {
    display: none;
    z-index: 11;
    background: red;
    opacity: 0.5;
    position: absolute; /*needed*/
    height: 20px; /*choose desired height*/
    width: 20px; /*choose desired width*/
    /* top: 100px; /*distance to page-top*/
    /*left: 0;*/
    right: 0;
    bottom: 0;
    /* margin: auto; /*this centers the div horizontally*/
    border-bottom-right-radius: 13px;

}
.websiteElement:hover .websiteRemove {
    display: block;
}

.websiteEdit {
    display: none;
    z-index: 111;
    background: dodgerblue;
    opacity: 0.5;
    position: absolute; /*needed*/
    height: 20px; /*choose desired height*/
    width: 20px; /*choose desired width*/
    /* top: 100px; /*distance to page-top*/
    /*left: 0;*/
    right: 20px;
    bottom: 0;
}
.websiteElement:hover .websiteEdit {
    display: block;
}

.websiteEditTitle {
    display: none;
    margin: 0.25rem 0 0.25rem 0;
}

.websiteEditUrl {
    display: none;
}

.websiteAddIcon {
    /* top | right | bottom | left */
    margin: 0 0 0 0;
    display: inline-block;
    height: 6.2rem;
    width: 6.2rem;
    color: var(--bg-color-01);

}

/******************/
/* WebsiteGroups */

.websiteGroupRow {
    display: table-cell;
    margin: 0;
    /* top | right | bottom | left */
    padding: 0.6rem 1rem 0.6rem 0.1rem;
    /* Keep all inline-block children in one line */
    white-space: nowrap;
    overflow-x: auto;
}

.websiteGroupRowEditing {
    display: table-cell;
    margin: 0;
    /* top | right | bottom | left */
    padding: 0.1rem 1rem 1rem 0.1rem;
    /* Keep all inline-block children in one line */
    white-space: nowrap;
    overflow-x: auto;
}

.websiteGroupTitle {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
    font-size: 1.2rem;
}

.websiteGroupEditButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    visibility: hidden;
    cursor: pointer;
}
.websiteGroupRow:hover .websiteGroupEditButton {
    visibility: visible;
}

.websiteGroupUpdateButton {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.websiteGroupRemoveButton {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.websiteGroupMove {
    display: none;
    cursor: pointer;
}

/*************************************************************************************/
/* GROUP HEADER */

.websiteGroupSearchButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.websiteGroupToggleMoveButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.websiteGroupAddButton {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}

.websiteGroupHeader {
    display: inline-block;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    font-size: 1.4rem;
    /* top | right | bottom | left */
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.websiteGroupSearch {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    width: 10rem;
}

.websiteGroupSearchClose {
    display: none;
    vertical-align: middle; /* needs inline-block and parent display table-cell */
    cursor: pointer;
}